@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
640px, 768px, 1024px, 1280px, 1536px (Tailwind Default - sm, md, lg, xl, 2xl)
Design for 1280px max width, beyond background colour.
Design for 375px (320px) smallest width without scroll bar
*/

* {
  utline: 1px solid black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

